.button{
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}
.text-area *.text {
    -fx-text-alignment: right;
}
#textResult{
    -fx-padding: 5 5 5 5;
    -fx-font-size: 16pt;
}
.button-s{
    /*-fx-background-color: #f8ecc2;*/
    -fx-font-size: 12pt;
    -fx-pref-height: 80px;
    -fx-pref-width: 80px;
}
.textContainer{
    -fx-pref-height: 50px;
}